@import 'variables';
// Fonts
@font-face{
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
         url("fonts/websymbols-regular-webfont.woff") format("woff"),
         url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
// General Styles
*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}
body{
    background: url(../img/pattern.png);
    .wrap{
        width: 96%;
        margin: 0 auto;
    }
    
    .clearfix{
        float: none;
        clear: both;
    }
    .gear, 
    .icon{
        font-family: "WebSymbolsRegular";
    }
}

// Shared Styles
aside h3,
#articles h3{
    display: block;
    width: auto;
    height: 45px;
    line-height: 49px;
    background: url(../img/pxgray.png);
    box-shadow: 0 1px 0 $shadow, 1px 2px 0 $shadow, 2px 3px 0 $shadow, 3px 4px 0 $shadow;
    font-size: 30px;
    font-family: "BebasNeue";
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 30px;
    margin: 15px 0;
}