@media (max-width: 1250px){
    #header {
        .wrap{
            width: 90%;
            margin: 0 auto;
        }
    }

    #banner h1{
        font-size: 35px;
        text-align: center;
    }

    #cards {
        .card{
            width: 17%;
            margin: 1.4%;
        }
    
        .card p{
            display: block;
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    }

    #articles{
        width: calc(65% - 20px);
        margin-left: 20px;
    }

    #articles article{
        width: 97%;
    }

    #footer{
        .wrap > div{
        width: 26%;
        margin: 3.5%;
        }
        #browsers img{
            width: 14%;
        }
        h5{
            font-size: 30px;
        }
    }
}

@media (max-width: 1175px){
    #banner{
        width: 80%;
        h1{
        line-height: 110px;
        }
    }

    #cards .card{
        .icon{
            font-size: 2em;
        }
    
        .category{
            font-size: 1em;
        }
    
        .description{
            font-size: 14px;
        }
    } 
}

@media (max-width: 1080px){
    #articles {
        width: calc(65% - 20px);    
    }

    #footer h5{
        font-size: 22px;
    }
}

@media (max-width: 1057px){
    #articles {
        width: calc(60% - 20px);    
    }
    #cards .card{
        margin: 1.2%;
        .icon{
            font-size: 1.7em;
        }
    
        .category{
            font-size: .8em;
        }
    
        .description{
            font-size: .8em;
        }
    } 
}

@media (max-width: 924px){
    #articles h3{
        padding-left: 0;
    }

    #lateral{
        width: 30%;
        input[type="text"] {
            width: 80%;
        }
    
        input[type="button"], 
        input[type="submit"] {
            padding: 0 5px 0 5px;
        }
    }

    
    #lateral #login{
        input[type="reset"]{
            display: none;
        }
    
        input[type="submit"], 
        input[type="button"], 
        button{
            display: block;
            margin: 10px auto;
        }
    
        a{
            margin: 10px auto;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
        
        #user{
            margin-left: 12px;
        }
        
        #password {
            margin-left: 15px;
        }
    }

    #blog {
        margin-bottom: 50px;
    }

    #blog a{
        font-size: 35px;
    }

    li a{
        font-size: 18px;
    }

    #footer img{
        max-width: 100%;
    }
}

@media (max-width: 815px){
    aside h3{
        font-size: 20px;
    }
}

@media (max-width: 777px){
    #articles {
        width: 56%;
    }

    .card .category{
        font-size: 15px;
    }

    .card{
        height: 18em;
    }

    #lateral input[type="text"] {
        width: 73%;
    }

    #articles{
        span:nth-child(2){
            display: none;
        }
    }
    li a{
        font-size: .8em;
    }
}

@media (max-width: 720px){
    #header{
        width: 100%;
        height: 135px;
        padding-top: 10px;
        .wrap{
            width: auto;
        }
        #logotype{
            clear: both;
            float: none;
            width: 200px;
            margin: 0 auto;
        }
        #menu ul{
            clear: both;
            float: none;
            width: 100%;
            margin: 0 auto;
            margin-right: 7.5em;
        }
    } 
}

@media (max-width: 642px){
    #cards {
        .card{
            height: auto;
            .description {
                display: none;
            }
        }
    }

    #articles, 
    #lateral {
        float: none;
        width: 100%;
        margin: 10px auto;
        min-height: auto;
        margin-top: 30px;
    }

    #lateral h3, 
    #articles h3,
    #articles article{
        margin: 1em;
    }

    #articles article{
        width: 90%;
        span:nth-child(2){
            display: inline;
        }
    }

    #lateral {
        input[type="text"] {
        width: 90%;
        }
        #login{
            input[type="email"],
            input[type="password"]{
                width: 90%;
            }
            #user,
            #password {
                margin-left: 1.1em;
            }
            a{
                display: inline-block;
                padding: 1em 0 0 6.25em;
            }
        }
    }

    #footer{
        min-height: 77em;
        padding-bottom: 4em;
    }

    #footer h5{
        font-size: 25px;
        margin-top: 30px;
    }

    #footer .wrap > div{
        width: calc(100% - 4em);
        margin: 0 auto;
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 550px){
    #header{
        #menu ul{
            margin-right: 4.5em;
        }
    }
    #lateral #login a {
        display: inline-block;
        padding: 1em 0 0 4.2em;
    }
}

@media (max-width: 476px){
    #header{
        width: 100%;
        height: 18em;
        padding-top: 10px;
        #logotype{
            margin: 0 auto;
        }
        #menu{
            clear: both;
            float: none;
            width: 100%;
            
            ul li{
                width: 100%;
                line-height: 52px;
                margin: 0 auto;
                text-align: center;
            }
            a{
                width: 100%;
                line-height: 52px;
                padding-right: 0;
            }
            a:hover {
                color: $blue1;
                transform: none;
            }
        }
    }

    #banner{
        height: 85px;
        line-height: 85px;
    }

    #banner h1{
        font-size: 20px;
    }

    #login input[type="email"], 
    #login input[type="password"] {
        width: 85%;
    }

    #lateral{
        input[type="text"] {
            width: 85%;
        }
        #login {
            input[type=email], 
            input[type=password] {
                width: 87%;
            }
            a {
            display: inline-block;
            padding: 1em 0 0 1.8em;
            }
        }
    }

    .card{
        margin: 1%;
    }

    .card .icon{
        font-size: 35px;
    }

    .card:hover .icon{
        font-size: 35px;
    }

    .card .category{
        font-size: 13px;
    }

    #articles article .data {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 1em;
        border-radius: 0;
        border-radius: 0 0 5px 0;
    }
}
@media (max-width: 400px){
    #lateral #login a {
        display: inline-block;
        padding: 1em 0 0 .7em;
    }
}
@media (max-width: 375px){
    #articles h3 {
        font-size: 2em;
    }

    #login input[type="email"], 
    #login input[type="password"]{
        width: 85%;
    }

    .card{
        margin: .75%;
    }

    .card .icon{
        font-size: 25px;
    }

    .card:hover .icon{
        font-size: 30px;
    }

    .card .category{
        font-size: 10px;
    }
}