// variables
:root {
    --blue1   : #37b2f9;
    --blue2   : #0b71b6;
    --blue3   : #01418a;
    --white   : #fff;
    --black   : #333;
    --gray1   : gray;
    --gray2   : #ddd;
    --gray3   : #ccc;
    --shadow  : #404344;
    --shadow3d: rgba(0, 0, 0, .3);
}

$blue1   : var(--blue1);
$blue2   : var(--blue2);
$blue3   : var(--blue3);
$white   : var(--white);
$black   : var(--black);
$gray1   : var(--gray1);
$gray2   : var(--gray2);
$gray3   : var(--gray3);
$shadow  : var(--shadow);
$shadow3d: var(--shadow3d);

@function img($file) {
    @return url('../img/'+ $file);
}