@font-face{
    font-family: "TrebuchetMS";
    src: url("../Sass/config/fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url("../Sass/config/fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url("../Sass/config/fonts/websymbols-regular-webfont.eot");
    src: url("../Sass/config/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../Sass/config/fonts/websymbols-regular-webfont.ttf") format("truetype"),
         url("../Sass/config/fonts/websymbols-regular-webfont.woff") format("woff"),
         url("../Sass/config/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}