#cards {
    width : 90%;
    margin: 0 auto;
    transform: translateX(3%);

    .card {
        float     : left;
        width     : 12.4em;
        height    : 19em;
        border    : 1px solid $gray3;
        box-shadow: 1px 1px 2px $gray2;
        background: $white;
        overflow  : hidden;
        margin    : 2em .5em;
        transition: all 300ms;

        &:hover {
            background: $black;
        }

        &:last-child {
            margin-right: 0;
        }

        .icon {
            display    : block;
            width      : 100%;
            height     : 130px;
            color      : $black;
            font-size  : 50px;
            line-height: 130px;
            text-align : center;
            transition : all 300ms;
        }

        &:hover .icon {
            font-size: 70px;
            color    : $blue1;
            animation: showIcon 300ms linear;
        }

        .category {
            height     : 50px;
            width      : 100%;
            font-size  : 21px;
            font-weight: bold;
            font-family: "TrebuchetMS";
            color      : $blue3;
            text-align : center;
            transition : all .3s;
        }

        &:hover .category {
            color    : $white;
            animation: showCategory 400ms linear;
        }

        .description {
            padding    : 7px;
            font-family: "TrebuchetMS";
            color      : $blue2;
            text-align : center;
            font-size  : 14px;
            transition : all .3s;
        }

        &:hover .description {
            animation: showDescription 400ms linear;
            color    : $white;
        }
    }
}