#header {
    width           : 100%;
    height          : 70px;
    background-color: $black;
    color           : $white;
    font-family     : "BebasNeue";

    #logotype {
        float           : left;
        width           : 200px;
        background-color: $blue1;
        text-align      : center;
        margin-top      : 8px;
        margin-left     : 20px;
        letter-spacing  : 1px;
        cursor          : pointer;
        overflow        : hidden;
        transition      : all 300ms;

        &:hover {
            border-radius   : 2px;
            color           : $black;
            background-color: $gray3;
        }

        .gear {
            display                  : block;
            float                    : left;
            font-size                : 30px;
            margin-top               : 8px;
            margin-left              : 26px;
            animation-name           : rotate-gear;
            animation-duration       : 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        &:hover .gear {
            animation: fromBellow 500ms linear;
        }

        h3 {
            display     : block;
            float       : right;
            font-size   : 40px;
            margin-top  : 5px;
            margin-right: 65px;
            transition  : all 300ms;
        }

        &:hover h3 {
            animation: fromRight 300ms linear;
        }
    }

    #menu {
        float     : right;
        height    : 70px;
        background: transparent;

        ul li {
            display       : inline-block;
            font-size     : 24px;
            line-height   : 70px;
            margin        : 0 20px 0 20px;
            letter-spacing: 1px;

            a {
                display        : block;
                color          : $white;
                transition     : all 200ms;
            }

            a:hover {
                color    : $blue1;
                transform: scale(1.2, 1.2);
            }
        }
    }
}